@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #3f3a3a;
  font-size: 16px;
  font-family: "Noto Sans TC", "華康黑體", "微軟正黑體", arial, sans-serif;
  overflow-x: hidden;
}

body {
  padding-top: 105px;
}

a {
  text-decoration: none;
}

/* loading 動畫 */
div.loading-drawing {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 216, 211);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  opacity: 1;
}

div.loading-animation {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(230, 230, 230);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
}
div.loading-animation div.loading-img {
  background-image: url("../images/FE_logo-4.png");
  background-size: cover;
  width: 300px;
  height: 130px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-animation: loadingUpDown 2.5s ease 0s infinite;
          animation: loadingUpDown 2.5s ease 0s infinite;
}

/* animation section */
/* loading animation */
@-webkit-keyframes loadingUpDown {
  0% {
    margin-bottom: 250px;
  }
  25% {
    margin-bottom: 150px;
  }
  50% {
    margin-bottom: 250px;
  }
  75% {
    margin-bottom: 150px;
  }
  100% {
    margin-bottom: 250px;
  }
}
@keyframes loadingUpDown {
  0% {
    margin-bottom: 250px;
  }
  25% {
    margin-bottom: 150px;
  }
  50% {
    margin-bottom: 250px;
  }
  75% {
    margin-bottom: 150px;
  }
  100% {
    margin-bottom: 250px;
  }
}
/*  箭頭動畫  */
@-webkit-keyframes UpDownChange {
  0% {
    top: 545px;
  }
  25% {
    top: 550px;
  }
  50% {
    top: 555px;
  }
  75% {
    top: 550px;
  }
  100% {
    top: 545px;
  }
}
@keyframes UpDownChange {
  0% {
    top: 545px;
  }
  25% {
    top: 550px;
  }
  50% {
    top: 555px;
  }
  75% {
    top: 550px;
  }
  100% {
    top: 545px;
  }
}
/* my-aside 動畫 */
@-webkit-keyframes asiderunning {
  0% {
    bottom: 90%;
  }
  100% {
    bottom: 20%;
  }
}
@keyframes asiderunning {
  0% {
    bottom: 90%;
  }
  100% {
    bottom: 20%;
  }
}
@-webkit-keyframes headerGoUp {
  0% {
    top: 100px;
  }
  100% {
    top: 100px;
  }
}
@keyframes headerGoUp {
  0% {
    top: 100px;
  }
  100% {
    top: 100px;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.8;
  height: 110px;
}
header #logo {
  width: 134.3px;
  height: 65px;
  margin-left: 60px;
  -webkit-transition: all 0.3 ease-in;
  transition: all 0.3 ease-in;
}
@media (max-width: 576px) {
  header #logo {
    margin-left: 10px;
  }
}
header #logo:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  opacity: 0.5;
}
header > nav {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 60px;
}
@media (max-width: 576px) {
  header > nav {
    width: 60%;
    margin-right: 10px;
  }
}
header > nav > div {
  letter-spacing: 3px;
  line-height: 92px;
  padding-bottom: 9px;
}
header > nav > div .nav-item {
  color: inherit;
}
header > nav > div .nav-item:hover {
  cursor: pointer;
  color: powderblue;
}
header > nav .search-part {
  margin-top: 7px;
}
header > nav .search-part #Search {
  width: 18px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
header > nav .search-part #Search:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  cursor: pointer;
}

.search-section {
  position: fixed;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}
.search-section .white-background {
  width: 100vw;
  height: 53vh;
  padding: 30px 0;
  background-color: rgb(243, 243, 243);
}
.search-section .white-background > p {
  color: #1ad8d3;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
}
.search-section .white-background > form {
  width: 65%;
  margin: 0 auto;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .search-section .white-background > form {
    width: 90%;
  }
}
.search-section .white-background > form > input {
  width: 90%;
  margin-left: 1px;
  border-style: none;
  padding: 10px;
}
.search-section .white-background > form > input:focus {
  padding: 10px;
}
.search-section .white-background > form > img {
  width: 25px;
  height: 28px;
  cursor: pointer;
}
.search-section .black-ground {
  width: 100vw;
  height: 35vh;
  background-color: #000;
  opacity: 0.8;
}

.d-block {
  display: block;
}

section {
  background-image: url(https://frankyeah.github.io/Front-Enter/images/key-visual.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 580px;
  line-height: 10px;
  padding: 10px;
  margin-top: 6px;
}
section .main-title {
  letter-spacing: 5px;
  text-align: center;
  color: white;
  padding: 10px;
}
section .main-title .title-one {
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 390px) {
  section .main-title .title-one {
    font-size: 32px;
  }
}
section .main-title .title-two {
  font-size: 28px;
  letter-spacing: 10px;
}
@media (max-width: 390px) {
  section .main-title .title-two {
    font-size: 22px;
  }
}
section .main-title #arrow-bottom {
  background-image: url(https://frankyeah.github.io/Front-Enter/images/next.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 50px auto;
  position: absolute;
  top: 550px;
  left: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: UpDownChange 1s ease 0s infinite alternate;
          animation: UpDownChange 1s ease 0s infinite alternate;
}

#my-aside {
  z-index: 1;
  opacity: 0.8;
  position: fixed;
  right: 0;
  bottom: 20%;
  width: 78px;
  height: 69px;
  cursor: pointer;
  -webkit-transition: bottom 4s;
  transition: bottom 4s;
}
#my-aside:hover {
  bottom: 20px;
}
#my-aside #my-aside-img {
  width: 100%;
  height: 100%;
}

main > .learn-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url(https://frankyeah.github.io/Front-Enter/images/second-img.jpg);
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 768px) {
  main > .learn-test {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}
main > .learn-test:hover {
  padding: 200px 0;
}
main > .learn-test > p {
  font-size: 18px;
  color: white;
  line-height: 3px;
  letter-spacing: 3px;
}
main > .learn-test #test-go {
  width: 128px;
  padding: 7px 23px;
  margin-top: 30px;
  color: rgb(26, 216, 211);
  line-height: 18px;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(26, 216, 211);
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
main > .learn-test #test-go:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
main > .classroom-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  margin-bottom: 10px;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/third-img.jpg);
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 768px) {
  main > .classroom-choose {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}
main > .classroom-choose:hover {
  padding: 130px 0;
}
main > .classroom-choose > p {
  font-size: 18px;
  color: white;
}
main > .classroom-choose .classroom-word {
  width: 205px;
  text-align: center;
  font-size: 18px;
  color: rgb(26, 216, 211);
  border-radius: 5px;
  border: 1px solid rgb(26, 216, 211);
  letter-spacing: 0px;
  padding: 7px 23px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
main > .classroom-choose .classroom-word:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
main > div.third-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 240px 0;
  margin-bottom: 10px;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 576px) {
  main > div.third-pic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main > div.third-pic:hover {
  padding: 250px 0;
}
main > div.third-pic .inside-pic {
  width: 336px;
  height: 445px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/FE_white.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic {
    width: 224px;
    height: 336px;
  }
}
main > div.third-pic .inside-pic .pen {
  width: 41px;
  height: 42.5px;
  margin-top: 45px;
}
main > div.third-pic .inside-pic .inside-title {
  color: rgb(26, 216, 211);
  font-size: 24px;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic .inside-title {
    font-size: 18px;
  }
}
main > div.third-pic .inside-pic .inside-line {
  border-top: 2px solid rgb(26, 216, 211);
  width: 15%;
  margin: auto;
}
main > div.third-pic .inside-pic .inside-p {
  line-height: 30px;
  margin-top: 35px;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic .inside-p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
  }
}
main > div.third-pic .inside-pic .inside-button {
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(26, 216, 211);
  font-size: 18px;
  padding: 7px 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic .inside-button {
    font-size: 16px;
    margin-top: 0px;
  }
}
main > div.third-pic .inside-pic .inside-button a {
  color: white;
}
main > div.third-pic .inside-pic .inside-button a:hover {
  opacity: 0.8;
}
main > div.forth-pic {
  width: 100%;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/five-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: bottom;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
main > div.forth-pic:hover {
  padding: 220px 0;
}
main > div.forth-pic .forth-insdie {
  height: 50%;
}
@media (max-width: 390px) {
  main > div.forth-pic .forth-insdie {
    max-width: 300px;
  }
}
main > div.forth-pic .forth-insdie p {
  max-width: 482px;
  margin-left: 38px;
  color: white;
  line-height: 35px;
  text-align: left;
  font-size: 18px;
}
@media (max-width: 576px) {
  main > div.forth-pic .forth-insdie p {
    line-height: 35px;
    margin-left: 0px;
    padding: 0 21px;
    font-size: 16px;
    text-align: justify;
    word-break: normal;
  }
}
@media (max-width: 390px) {
  main > div.forth-pic .forth-insdie p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
  }
}
main > div.forth-pic .forth-insdie .forth-title {
  margin: 0 auto;
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 576px) {
  main > div.forth-pic .forth-insdie .forth-title {
    font-size: 22px;
  }
}
main > div.forth-pic .forth-insdie .forth-line {
  width: 10%;
  margin: 0 auto;
  border-top: 1px solid white;
}
main > div.forth-pic .forth-insdie .forth-description {
  padding-top: 10px;
}

.top {
  padding: 70px;
}
.top .top-div {
  width: 41px;
  height: 56px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
.top .top-div:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.top .top-div .top-icon {
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  background-color: #ececec;
  width: 100%;
  height: 100px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1022px) {
  footer {
    height: auto;
  }
}
@media (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
@media (max-width: 390px) {
  footer {
    margin-right: 0px;
  }
}
footer p {
  font-size: 13px;
  line-height: 60px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  footer p {
    width: 100%;
    height: 10px;
  }
}
@media (max-width: 390px) {
  footer p {
    font-size: 10.5px;
  }
}
footer p a {
  color: #3f3a3a;
}
footer .m-word::before {
  content: "M";
  word-spacing: 20px;
  color: rgb(26, 216, 211);
}
footer .e-word::before {
  content: "E";
  color: rgb(26, 216, 211);
}
footer div {
  padding: 0 30px;
  text-align: center;
  line-height: 80px;
}
@media (max-width: 768px) {
  footer div {
    width: 100%;
    line-height: 10px;
    text-align: right;
  }
}
footer div .footer-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  footer div .footer-icon {
    margin-top: -10px;
  }
}
@media (max-width: 390px) {
  footer div .footer-icon {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }
}/*# sourceMappingURL=all.css.map */