@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #3f3a3a;
  font-size: 16px;
  font-family: "Noto Sans TC", "華康黑體", "微軟正黑體", arial, sans-serif;
  overflow-x: hidden;
}

body {
  padding-top: 105px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.m-auto {
  margin: 0 auto;
}

.m-1 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.login-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(192, 192, 192, 0.3);
  z-index: 3;
}
.login-wrapper .login-container {
  width: 350px;
  height: 430px;
  padding-top: 20px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.login-wrapper .login-container .login-box {
  width: 225px;
  height: 105px;
  margin: 0 auto;
}
.login-wrapper .login-container .login-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.login-wrapper .login-container form {
  letter-spacing: 3px;
}
.login-wrapper .login-container form .login-inputs {
  width: 73%;
  margin: 0 auto;
  height: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.login-wrapper .login-container form .login-inputs input {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  line-height: 25px;
  border: 0.5px solid rgb(128, 128, 128);
  letter-spacing: 3px;
}
.login-wrapper .login-container form .forget-password {
  width: 73%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgb(128, 128, 128);
  text-align: end;
  cursor: pointer;
}
.login-wrapper .login-container form .login-btns {
  width: 73%;
  margin: 0 auto;
}
.login-wrapper .login-container form .login-btns .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login-wrapper .login-container form .login-btns .btn-group .login-btn {
  margin: 18px 0px;
  padding: 7px 34px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: rgb(26, 216, 211);
  letter-spacing: 3px;
  cursor: pointer;
}
.login-wrapper .login-container form .login-btns .gmail-btn {
  padding: 8.5px 30px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #d93025;
  letter-spacing: 3px;
  cursor: pointer;
}

.alert-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.alert-wrapper .alert-container {
  width: 300px;
  height: 180px;
  background-color: white;
  border-radius: 5px;
}
.alert-wrapper .alert-container .alert-title {
  font-size: 24px;
  text-align: center;
  color: rgb(128, 128, 128);
  letter-spacing: 3px;
}
.alert-wrapper .alert-container .alert-word {
  text-align: center;
  color: rgb(128, 128, 128);
  margin-bottom: 22px;
}
.alert-wrapper .alert-container .alert-btn {
  width: 30%;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(26, 216, 211);
}

/* loading 動畫 */
div.loading-drawing {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 216, 211);
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
  opacity: 1;
}

div.loading-animation {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(230, 230, 230);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  opacity: 1;
}
div.loading-animation div.loading-img {
  background-image: url("../images/FE_logo-4.png");
  background-size: cover;
  width: 300px;
  height: 130px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-animation: loadingUpDown 2.5s ease 0s infinite;
          animation: loadingUpDown 2.5s ease 0s infinite;
}

/* animation section */
/* loading animation */
@-webkit-keyframes loadingUpDown {
  0% {
    margin-bottom: 250px;
  }
  25% {
    margin-bottom: 150px;
  }
  50% {
    margin-bottom: 250px;
  }
  75% {
    margin-bottom: 150px;
  }
  100% {
    margin-bottom: 250px;
  }
}
@keyframes loadingUpDown {
  0% {
    margin-bottom: 250px;
  }
  25% {
    margin-bottom: 150px;
  }
  50% {
    margin-bottom: 250px;
  }
  75% {
    margin-bottom: 150px;
  }
  100% {
    margin-bottom: 250px;
  }
}
/*  箭頭動畫  */
@-webkit-keyframes UpDownChange {
  0% {
    top: 545px;
  }
  25% {
    top: 550px;
  }
  50% {
    top: 555px;
  }
  75% {
    top: 550px;
  }
  100% {
    top: 545px;
  }
}
@keyframes UpDownChange {
  0% {
    top: 545px;
  }
  25% {
    top: 550px;
  }
  50% {
    top: 555px;
  }
  75% {
    top: 550px;
  }
  100% {
    top: 545px;
  }
}
@-webkit-keyframes arrowChange {
  0% {
    margin-left: 165px;
  }
  25% {
    margin-left: 170px;
  }
  50% {
    margin-left: 175px;
  }
  75% {
    margin-left: 170px;
  }
  100% {
    margin-left: 165px;
  }
}
@keyframes arrowChange {
  0% {
    margin-left: 165px;
  }
  25% {
    margin-left: 170px;
  }
  50% {
    margin-left: 175px;
  }
  75% {
    margin-left: 170px;
  }
  100% {
    margin-left: 165px;
  }
}
@-webkit-keyframes RightLeftChange {
  0% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  5% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  10% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  20% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  25% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  30% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  35% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  40% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  45% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  50% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  55% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  60% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
}
@keyframes RightLeftChange {
  0% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  5% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  10% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  20% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  25% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  30% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  35% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  40% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  45% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  50% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
  55% {
    -webkit-transform: translate(-10px);
            transform: translate(-10px);
  }
  60% {
    -webkit-transform: translate(10px);
            transform: translate(10px);
  }
}
/* my-aside 動畫 */
@-webkit-keyframes asiderunning {
  0% {
    bottom: 90%;
  }
  100% {
    bottom: 20%;
  }
}
@keyframes asiderunning {
  0% {
    bottom: 90%;
  }
  100% {
    bottom: 20%;
  }
}
@-webkit-keyframes headerGoUp {
  0% {
    top: 100px;
  }
  100% {
    top: 100px;
  }
}
@keyframes headerGoUp {
  0% {
    top: 100px;
  }
  100% {
    top: 100px;
  }
}
@-webkit-keyframes rotatemove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotatemove {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.8;
  height: 105px;
  z-index: 2;
}
header #logo {
  width: 134.3px;
  height: 65px;
  margin-left: 60px;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}
header #logo:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: 0.5;
}
@media (max-width: 576px) {
  header #logo {
    margin-left: 10px;
  }
}
header > nav {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 60px;
}
@media (max-width: 576px) {
  header > nav {
    width: 60%;
    margin-right: 10px;
  }
}
header > nav > div {
  letter-spacing: 3px;
  line-height: 92px;
  padding-bottom: 9px;
}
header > nav > div .nav-item {
  color: inherit;
}
header > nav > div .nav-item:hover {
  cursor: pointer;
  color: powderblue;
}
header > nav .search-part {
  margin-top: 7px;
}
header > nav .search-part #Search {
  width: 18px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
header > nav .search-part #Search:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  cursor: pointer;
}

.search-section {
  position: fixed;
  top: 105px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}
.search-section .white-background {
  width: 100vw;
  height: 53vh;
  padding: 30px 0;
  background-color: rgb(243, 243, 243);
}
.search-section .white-background > p {
  color: #1ad8d3;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
}
.search-section .white-background > form {
  width: 65%;
  margin: 0 auto;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .search-section .white-background > form {
    width: 90%;
  }
}
.search-section .white-background > form > input {
  width: 90%;
  margin-left: 1px;
  border-style: none;
  padding: 10px;
}
.search-section .white-background > form > input:focus {
  padding: 10px;
}
.search-section .white-background > form > img {
  width: 25px;
  height: 28px;
  cursor: pointer;
}
.search-section .black-ground {
  width: 100vw;
  height: 35vh;
  background-color: #000;
  opacity: 0.8;
}

.d-block {
  display: block;
}

.front-secton {
  background-image: url(https://frankyeah.github.io/Front-Enter/images/key-visual.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 580px;
  line-height: 10px;
  padding: 10px;
  margin-top: 6px;
}
.front-secton .main-title {
  letter-spacing: 5px;
  text-align: center;
  color: white;
  padding: 10px;
}
.front-secton .main-title .title-one {
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 390px) {
  .front-secton .main-title .title-one {
    font-size: 32px;
  }
}
.front-secton .main-title .title-two {
  font-size: 28px;
  letter-spacing: 10px;
}
@media (max-width: 390px) {
  .front-secton .main-title .title-two {
    font-size: 22px;
  }
}
.front-secton .main-title #arrow-bottom {
  background-image: url(https://frankyeah.github.io/Front-Enter/images/next.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 50px auto;
  position: absolute;
  top: 550px;
  left: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: UpDownChange 1s ease 0s infinite alternate;
          animation: UpDownChange 1s ease 0s infinite alternate;
}

#my-aside {
  z-index: 1;
  opacity: 0.8;
  position: fixed;
  right: 0;
  bottom: 20%;
  width: 78px;
  height: 69px;
  cursor: pointer;
  -webkit-transition: bottom 4s;
  transition: bottom 4s;
}
#my-aside:hover {
  bottom: 20px;
}
#my-aside #my-aside-img {
  width: 100%;
  height: 100%;
}

main > .learn-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-image: url(https://frankyeah.github.io/Front-Enter/images/second-img.jpg);
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 768px) {
  main > .learn-test {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}
main > .learn-test:hover {
  padding: 200px 0;
}
main > .learn-test > p {
  font-size: 18px;
  color: white;
  line-height: 3px;
  letter-spacing: 3px;
}
main > .learn-test #test-go {
  width: 128px;
  padding: 7px 23px;
  margin-top: 30px;
  color: rgb(26, 216, 211);
  line-height: 18px;
  text-align: center;
  letter-spacing: 0px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(26, 216, 211);
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
main > .learn-test #test-go:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
main > .classroom-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
  margin-bottom: 10px;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/third-img.jpg);
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: fixed;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 768px) {
  main > .classroom-choose {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}
main > .classroom-choose:hover {
  padding: 130px 0;
}
main > .classroom-choose > p {
  font-size: 18px;
  color: white;
}
main > .classroom-choose .classroom-word {
  width: 205px;
  text-align: center;
  font-size: 18px;
  color: rgb(26, 216, 211);
  border-radius: 5px;
  border: 1px solid rgb(26, 216, 211);
  letter-spacing: 0px;
  padding: 7px 23px;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
main > .classroom-choose .classroom-word:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
main > div.third-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 240px 0;
  margin-bottom: 10px;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
@media (max-width: 576px) {
  main > div.third-pic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main > div.third-pic:hover {
  padding: 250px 0;
}
main > div.third-pic .inside-pic {
  width: 336px;
  height: 445px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/FE_white.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic {
    width: 224px;
    height: 336px;
  }
}
main > div.third-pic .inside-pic .pen {
  width: 41px;
  height: 42.5px;
  margin-top: 45px;
}
main > div.third-pic .inside-pic .inside-title {
  color: rgb(26, 216, 211);
  font-size: 24px;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic .inside-title {
    font-size: 18px;
  }
}
main > div.third-pic .inside-pic .inside-line {
  border-top: 2px solid rgb(26, 216, 211);
  width: 15%;
  margin: auto;
}
main > div.third-pic .inside-pic .inside-p {
  line-height: 30px;
  margin-top: 35px;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic .inside-p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
  }
}
main > div.third-pic .inside-pic .inside-button {
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(26, 216, 211);
  font-size: 18px;
  padding: 7px 30px;
  margin-top: 20px;
}
@media (max-width: 768px) {
  main > div.third-pic .inside-pic .inside-button {
    font-size: 16px;
    margin-top: 0px;
  }
}
main > div.third-pic .inside-pic .inside-button a {
  color: white;
}
main > div.third-pic .inside-pic .inside-button a:hover {
  opacity: 0.8;
}
main > div.forth-pic {
  width: 100%;
  padding: 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(https://frankyeah.github.io/Front-Enter/images/five-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-position-x: center;
  background-position-y: bottom;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
main > div.forth-pic:hover {
  padding: 220px 0;
}
main > div.forth-pic .forth-insdie {
  height: 50%;
  max-width: 685px;
}
@media (max-width: 768px) {
  main > div.forth-pic .forth-insdie {
    max-width: 86%;
  }
}
@media (max-width: 390px) {
  main > div.forth-pic .forth-insdie {
    max-width: 300px;
  }
}
main > div.forth-pic .forth-insdie p {
  color: white;
  line-height: 35px;
  text-align: left;
  font-size: 18px;
  text-align: justify;
}
@media (max-width: 576px) {
  main > div.forth-pic .forth-insdie p {
    line-height: 35px;
    margin-left: 0px;
    padding: 0 21px;
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  main > div.forth-pic .forth-insdie p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
  }
}
main > div.forth-pic .forth-insdie .forth-title {
  margin: 0 auto;
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 576px) {
  main > div.forth-pic .forth-insdie .forth-title {
    font-size: 22px;
  }
}
main > div.forth-pic .forth-insdie .forth-line {
  width: 10%;
  margin: 0 auto;
  border-top: 1px solid white;
}
main > div.forth-pic .forth-insdie .forth-description {
  padding-top: 10px;
}

.top {
  padding: 70px;
}
.top .top-div {
  width: 41px;
  height: 56px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
.top .top-div:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.top .top-div .top-icon {
  width: 100%;
  height: 100%;
}

/* Footer */
footer {
  background-color: #ececec;
  width: 100%;
  height: 100px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1022px) {
  footer {
    height: auto;
  }
}
@media (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    padding-bottom: 50px;
  }
}
@media (max-width: 390px) {
  footer {
    margin-right: 0px;
  }
}
footer p {
  font-size: 13px;
  line-height: 60px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  footer p {
    width: 100%;
    height: 10px;
  }
}
@media (max-width: 390px) {
  footer p {
    font-size: 10.5px;
  }
}
footer p a {
  color: #3f3a3a;
}
footer .m-word::before {
  content: "M";
  word-spacing: 20px;
  color: rgb(26, 216, 211);
}
footer .e-word::before {
  content: "E";
  color: rgb(26, 216, 211);
}
footer div {
  padding: 0 30px;
  text-align: center;
  line-height: 80px;
}
@media (max-width: 768px) {
  footer div {
    width: 100%;
    line-height: 10px;
    text-align: right;
  }
}
footer div .footer-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  footer div .footer-icon {
    margin-top: -10px;
  }
}
@media (max-width: 390px) {
  footer div .footer-icon {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }
}

.slideshow-container {
  position: relative;
  max-width: 100vw;
  margin: auto;
}
.slideshow-container .mySlides {
  display: none;
  width: 100vw;
  height: 380px;
  position: relative;
  overflow: hidden;
}
.slideshow-container .mySlides .slide-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slideshow-container .mySlides .slide-wrapper .slide-title {
  background-color: rgba(128, 128, 128, 0.7);
  padding: 10px 15px;
  padding-left: 23px;
  border-radius: 5px;
  font-size: 24px;
  color: white;
  letter-spacing: 10px;
}
.slideshow-container .mySlides .slide-wrapper .slide-title:hover {
  opacity: 0.8;
}
.slideshow-container .mySlides img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right 5px bottom 331px;
     object-position: right 5px bottom 331px;
}

main .class-wrapper {
  padding: 35px 0;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 0 15px rgba(199, 199, 199, 0.8);
          box-shadow: 0 0 15px rgba(199, 199, 199, 0.8);
  color: rgb(128, 128, 128);
}
main .class-wrapper .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main .class-wrapper .item-container li {
  color: #3f3a3a;
  cursor: pointer;
}
main .class-wrapper .item-container li:hover {
  opacity: 0.7;
}
main .class-wrapper .item-container li:focus {
  opacity: 0.7;
}
main .card-wrapper {
  padding: 0px 60px 70px 60px;
}
main .card-wrapper .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .card-wrapper .card-container .card {
  border: 1px solid rgb(26, 216, 211);
  width: 315px;
  padding: 25px 15px;
  margin: 10px;
}
main .card-wrapper .card-container .card .class-item {
  display: block;
  width: 90%;
  margin: 0 auto;
  color: #3f3a3a;
}
main .card-wrapper .card-container .card .class-item .city-part {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .card-wrapper .card-container .card .class-item .city-part .location-box {
  width: 17.14px;
  height: 23.7px;
  margin-right: 5px;
}
main .card-wrapper .card-container .card .class-item .city-part .location-box .loction-icon {
  width: 100%;
  height: 100%;
}
main .card-wrapper .card-container .card .class-item .city-part .loction-title {
  color: #3f3a3a;
}
main .card-wrapper .card-container .card .class-item .city-part .loction-title:hover {
  opacity: 0.7;
}
main .card-wrapper .card-container .card .class-item .card-img {
  width: 200px;
  height: 150px;
  border-radius: 5px;
  overflow: hidden;
}
main .card-wrapper .card-container .card .class-item .card-img .class-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
main .card-wrapper .card-container .card .class-item .card-img .class-img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
main .card-wrapper .card-container .card .class-item .class-title {
  font-size: 26px;
  color: rgb(26, 216, 211);
}
main .card-wrapper .card-container .card .class-item .class-decription {
  color: #3f3a3a;
}
main .card-wrapper .card-container .card .class-item .class-decription:hover {
  opacity: 0.7;
}
main .card-wrapper .card-container .card .class-item .read-more {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(26, 216, 211);
}
main .card-wrapper .card-container .card .class-item .read-more .more-word {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
main .card-wrapper .card-container .card .class-item .read-more .more-word:hover {
  margin-right: 16px;
}
main .card-wrapper .card-container .card .class-item .read-more .more-box {
  width: 10px;
  height: 10px;
}
main .card-wrapper .card-container .card .class-item .read-more .more-box .more-icon {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1022px) {
  .slideshow-container .mySlides img {
    height: 219%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 768px) {
  .slideshow-container .mySlides {
    height: 285px;
  }
}
@media (max-width: 576px) {
  .slideshow-container .mySlides {
    height: 245px;
  }
  .slideshow-container .mySlides .slide-wrapper .slide-title {
    letter-spacing: 7px;
    font-size: 20px;
  }
  .slideshow-container .mySlides img {
    height: 237%;
  }
}
@media (max-width: 390px) {
  .slideshow-container .mySlides {
    height: 219px;
  }
  .slideshow-container img {
    height: 251%;
  }
}
.content-wrapper .content-one-wrapper {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/contact-key.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  padding: 200px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-wrapper .content-one-wrapper .content-one-title {
  font-size: 24px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 6px 13px;
  border-radius: 5px;
  letter-spacing: 10px;
  text-align: center;
}
.content-wrapper .content-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content-wrapper .content-container .img-section {
  padding-top: 22px;
  margin-right: 20px;
}
.content-wrapper .content-container .img-section .left-box-one,
.content-wrapper .content-container .img-section .left-box {
  width: 400px;
  height: 266px;
  margin-bottom: 40px;
  cursor: pointer;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.content-wrapper .content-container .img-section .left-box-one:hover,
.content-wrapper .content-container .img-section .left-box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  margin-bottom: 55px;
}
.content-wrapper .content-container .img-section .left-box-one:not(:hover),
.content-wrapper .content-container .img-section .left-box:not(:hover) {
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-bottom: 40px;
  position: relative;
}
.content-wrapper .content-container .img-section .left-box-one img,
.content-wrapper .content-container .img-section .left-box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.content-wrapper .content-container .text-section {
  width: 53%;
  margin-left: 35px;
}
.content-wrapper .content-container .text-section .text-topic {
  font-size: 20px;
  font-weight: bold;
  color: rgb(26, 216, 211);
  letter-spacing: 3px;
}
.content-wrapper .content-container .text-section .text-description {
  font-size: 16px;
  color: rgb(128, 128, 128);
  line-height: 28px;
  text-align: justify;
  letter-spacing: 3px;
}
.content-wrapper .content-container .text-content .text-content-container {
  width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}
.content-wrapper .content-container .text-content .text-content-container .content-word {
  position: relative;
  font-size: 18px;
  color: rgb(26, 216, 211);
  padding-top: 35px;
}
.content-wrapper .content-container .text-content .text-content-container .content-word::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 2px;
  bottom: -7px;
  background-color: rgb(26, 216, 211);
}
.content-wrapper .content-container .text-content .text-content-container .row-group .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 39px;
  padding: 23px px 0;
  border-bottom: 1px solid rgba(197, 197, 197, 0.8);
}
.content-wrapper .content-container .text-content .text-content-container .row-group .row .row-name {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(26, 216, 211);
  text-align: start;
  letter-spacing: 3px;
}
.content-wrapper .content-container .text-content .text-content-container .row-group .row .row-value {
  font-size: 16px;
  color: rgb(128, 128, 128);
  letter-spacing: 3px;
}

.enlarge-wrapper .enlargeBackground {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 6;
}
.enlarge-wrapper .enlargeBackground .enlarge-container {
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.enlarge-wrapper .enlargeBackground .enlarge-container .large-left {
  width: 0;
  height: 0;
  border: 25px solid;
  cursor: pointer;
  border-color: transparent rgb(128, 128, 128) transparent transparent;
}
.enlarge-wrapper .enlargeBackground .enlarge-container .largr-img {
  width: 750px;
  height: 550px;
  margin: 0 15px;
}
.enlarge-wrapper .enlargeBackground .enlarge-container .large-right {
  width: 0;
  height: 0;
  border: 25px solid;
  cursor: pointer;
  border-color: transparent transparent transparent rgb(128, 128, 128);
}

@media (max-width: 1200px) {
  .enlarge-wrapper .enlargeBackground .enlarge-container {
    width: 550px;
  }
  .enlarge-wrapper .enlargeBackground .enlarge-container .largr-img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1200px) {
  .content-wrapper .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .content-wrapper .content-container .img-section {
    margin: 0 auto;
  }
  .content-wrapper .content-container .img-section .left-box {
    display: none;
  }
  .content-wrapper .content-container .text-section {
    width: 90%;
    margin: 0 auto;
  }
  .content-wrapper .content-container .text-section .text-title {
    text-align: start;
  }
}
@media (max-width: 768px) {
  .enlarge-wrapper .enlargeBackground .enlarge-container {
    width: 445px;
  }
  .enlarge-wrapper .enlargeBackground .enlarge-container .largr-img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 576px) {
  .content-wrapper .content-container .img-section .left-box-one {
    height: 240px;
    width: 340px;
  }
  .content-wrapper .content-container .text-section .text-content .text-content-container {
    width: 90%;
  }
  .content-wrapper .content-container .text-section .text-content .text-content-container .row-group .row .row-name {
    width: 65px;
    font-size: 12px;
  }
  .content-wrapper .content-container .text-section .text-content .text-content-container .row-group .row .row-value {
    font-size: 12px;
  }
  .enlarge-wrapper .enlargeBackground .enlarge-container {
    width: 375px;
  }
  .enlarge-wrapper .enlargeBackground .enlarge-container .largr-img {
    width: 220px;
    height: 340px;
  }
}
@media (max-width: 390px) {
  .content-wrapper .content-container .img-section .left-box-one {
    height: 200px;
    width: 300px;
  }
  .content-wrapper .content-container .text-section .text-content .text-content-container .row-group .row .row-name {
    font-size: 10px;
  }
  .content-wrapper .content-container .text-section .text-content .text-content-container .row-group .row .row-value {
    font-size: 10px;
  }
}
main .skill-one-wrapper {
  background-image: url("	https://frankyeah.github.io/Front-Enter/images/skill-tree-key.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  padding: 200px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .skill-one-wrapper .skill-one-title {
  font-size: 24px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 6px 13px;
  border-radius: 5px;
  letter-spacing: 10px;
  text-align: center;
}
main .skill-two-wrapper {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/second-img.jpg");
  background-color: rgba(128, 128, 128, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  padding: 235px 0;
}
main .skill-two-wrapper .skill-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}
main .skill-two-wrapper .skill-container .skill-two-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
main .skill-two-wrapper .skill-container .skill-line {
  width: 20px;
  margin: 0 auto;
  border: 1px solid #fff;
}
main .skill-two-wrapper .skill-container .skill-two-description {
  width: 45%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 768px) {
  main .skill-two-wrapper .skill-container .skill-two-description {
    width: 100%;
  }
}
main .skill-three-wrapper .skill-container {
  width: 85%;
  margin: 0 auto;
}
main .skill-three-wrapper .skill-container .three-content {
  position: relative;
  width: 310px;
  margin: 0 auto;
  padding: 140px 0px;
  letter-spacing: 3px;
}
main .skill-three-wrapper .skill-container .three-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .skill-three-wrapper .skill-container .three-content .row .html-row {
  border: 1px solid rgb(26, 216, 211);
  width: 118px;
  padding: 2.5px 0px;
  margin: 15px 0px;
  color: rgb(26, 216, 211);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
main .skill-three-wrapper .skill-container .three-content .row .html-row:hover {
  width: 125px;
  padding: 4.5px 0px;
  font-size: 18px;
}
main .skill-three-wrapper .skill-container .three-content .row .normal-line {
  border: 1px solid rgb(128, 128, 128);
  width: 118px;
  padding: 2.5px;
  margin: 15px 0px;
  color: rgb(128, 128, 128);
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
main .skill-three-wrapper .skill-container .three-content .row .normal-line:hover {
  width: 125px;
  padding: 4.5px 0px;
  font-size: 18px;
}
main .skill-three-wrapper .skill-container .three-content .row .parallel-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/minus-symbol-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}
main .skill-three-wrapper .skill-container .three-content .row .space-center {
  width: 30px;
}
main .skill-three-wrapper .skill-container .three-content .row-line-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-left: 125px;
}
main .skill-three-wrapper .skill-container .three-content .row-line-one .left-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/diagonal-line-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}
main .skill-three-wrapper .skill-container .three-content .row-line-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .skill-three-wrapper .skill-container .three-content .row-line-two .left-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/diagonal-line-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: 108px;
}
main .skill-three-wrapper .skill-container .three-content .row-line-two .straight-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/minus-symbol-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
main .skill-three-wrapper .skill-container .three-content .row-line-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .skill-three-wrapper .skill-container .three-content .row-line-three .left-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/diagonal-line-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  margin-left: 66px;
}
main .skill-three-wrapper .skill-container .three-content .row-line-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .skill-three-wrapper .skill-container .three-content .row-line-four .left-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/diagonal-line-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}
main .skill-three-wrapper .skill-container .three-content .row-line-four .right-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/diagonal-line-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
main .skill-three-wrapper .skill-container .three-content .row-line-five {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .skill-three-wrapper .skill-container .three-content .row-line-five .straight-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/minus-symbol-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
main .skill-three-wrapper .skill-container .three-content .row-line-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .skill-three-wrapper .skill-container .three-content .row-line-six .left-line {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/diagonal-line-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
}
main .skill-three-wrapper .skill-container .three-content .emojiBox {
  position: absolute;
  width: 140px;
  height: 40px;
  top: 100px;
  left: 85px;
  cursor: pointer;
}
main .skill-three-wrapper .skill-container .three-content .emojiBox .emojiImg {
  width: 100%;
  height: 100%;
}
main #showDetail {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.all-emoji-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(192, 192, 192, 0.3);
  z-index: 10;
}
.all-emoji-wrapper .emoji-conatainer {
  width: 300px;
  padding: 25px 0px;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border-radius: 5px;
  background-color: rgba(26, 216, 211, 0.8);
}
.all-emoji-wrapper .emoji-conatainer .emoji-title {
  margin-bottom: 26px;
}
.all-emoji-wrapper .emoji-conatainer .choose-emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.all-emoji-wrapper .emoji-conatainer .choose-emoji .emojiBox {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.all-emoji-wrapper .emoji-conatainer .choose-emoji .emojiBox:hover {
  -webkit-animation: rotatemove 3s ease-in-out;
          animation: rotatemove 3s ease-in-out;
}
.all-emoji-wrapper .emoji-conatainer .choose-emoji .emojiBox .emoji-one {
  width: 100%;
  height: 100%;
}
.all-emoji-wrapper .emoji-conatainer .choose-emoji .emojiBox .emoji-two {
  width: 100%;
  height: 100%;
}
.all-emoji-wrapper .emoji-conatainer .choose-emoji .emojiBox .emoji-three {
  width: 100%;
  height: 100%;
}

.game-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(192, 192, 192, 0.3);
  z-index: 5;
}
.game-wrapper .game-container {
  position: relative;
  width: 350px;
  height: 450px;
  background-color: rgb(26, 216, 211);
}
.game-wrapper .game-container .container-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1;
}
.game-wrapper .game-container .game-word {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.game-wrapper .game-container .game-word .game-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 20px 40px 40px 40px;
}
.game-wrapper .game-container .game-word .game-text {
  position: relative;
  width: 250px;
  padding: 10px 22px;
  margin-bottom: 10px;
  color: rgb(26, 216, 211);
  font-size: 16px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}
.game-wrapper .game-container .game-word .game-text .game-icon {
  position: absolute;
  top: 10px;
  left: 26px;
  width: 22px;
  height: 22px;
  margin: auto;
}
.game-wrapper .game-container .game-word .right-arrow {
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 50px auto;
  cursor: pointer;
  -webkit-animation: arrowChange 0.3s ease 0s infinite alternate;
          animation: arrowChange 0.3s ease 0s infinite alternate;
}

.typing-wrapper {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 7;
}
.typing-wrapper .typing-container {
  margin: 0 auto;
  width: 300px;
}
.typing-wrapper .typing-container #typing-text {
  font-size: 24px;
  color: #fff;
  line-height: 35px;
  letter-spacing: 3px;
  word-break: break-all;
  overflow: hidden;
}
.typing-wrapper .typing-container #typing-text::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-bottom: 2px solid white;
  -webkit-animation: flash 0.8s ease-in-out infinite;
          animation: flash 0.8s ease-in-out infinite;
}

main .contact-one-wrapper {
  background-image: url("https://frankyeah.github.io/Front-Enter/images/contact-key.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  padding: 200px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .contact-one-wrapper .contact-one-title {
  font-size: 24px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 6px 13px;
  border-radius: 5px;
  letter-spacing: 10px;
  text-align: center;
}
main .contact-two-wrapper {
  padding: 50px 0px;
}
main .contact-two-wrapper .contact-two-container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  main .contact-two-wrapper .contact-two-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
main .contact-two-wrapper .contact-two-container .left-info {
  width: 700px;
  color: rgb(128, 128, 128);
}
@media (max-width: 1480px) {
  main .contact-two-wrapper .contact-two-container .left-info {
    width: 500px;
  }
}
main .contact-two-wrapper .contact-two-container .left-info .contact-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 32px;
}
main .contact-two-wrapper .contact-two-container .left-info .contact-word {
  letter-spacing: 3px;
  margin-bottom: 40px;
}
main .contact-two-wrapper .contact-two-container .left-info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .contact-two-wrapper .contact-two-container .left-info form input {
  width: 80%;
  color: rgb(128, 128, 128);
  font-size: 16px;
  padding: 10px 10px;
  margin-bottom: 28px;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 6px;
}
main .contact-two-wrapper .contact-two-container .left-info form input:focus {
  outline: none;
}
main .contact-two-wrapper .contact-two-container .left-info form textarea {
  width: 80%;
  height: 200px;
  color: rgb(128, 128, 128);
  font-size: 16px;
  padding: 10px 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(207, 206, 206);
  border-radius: 6px;
}
main .contact-two-wrapper .contact-two-container .left-info form textarea:focus {
  outline: none;
}
main .contact-two-wrapper .contact-two-container .left-info form .email-btn {
  width: 100px;
  padding: 11px 8px;
  margin: 16px 0px;
  font-size: 18px;
  color: #fff;
  border: 1px solid rgb(26, 216, 211);
  background-color: rgb(26, 216, 211);
  border-radius: 6px;
  cursor: pointer;
}
main .contact-two-wrapper .contact-two-container .left-info form .email-btn:hover {
  opacity: 0.8;
}
main .contact-two-wrapper .contact-two-container .right-info {
  width: 700px;
}
@media (max-width: 1480px) {
  main .contact-two-wrapper .contact-two-container .right-info {
    width: 500px;
  }
}
main .contact-two-wrapper .contact-two-container .right-info .address-top {
  height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 83px;
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.3);
}
main .contact-two-wrapper .contact-two-container .right-info .address-top .address-location {
  width: 35px;
  height: 50px;
}
main .contact-two-wrapper .contact-two-container .right-info .address-top .address-location img {
  width: 100%;
  height: 100%;
}
main .contact-two-wrapper .contact-two-container .right-info .address-top .address-location img:hover {
  opacity: 0.8;
}
main .contact-two-wrapper .contact-two-container .right-info .address-bottom {
  width: 100%;
  height: 224px;
}
main .contact-two-wrapper .contact-two-container .right-info .address-bottom iframe {
  width: 100%;
  height: 100%;
}

main .profile-one-wrapper {
  background-image: url("	https://frankyeah.github.io/Front-Enter/images/member-key.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  padding: 200px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .profile-one-wrapper .profile-one-title {
  font-size: 24px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 6px 13px;
  border-radius: 5px;
  letter-spacing: 10px;
  text-align: center;
}
main .profile-two-wrapper {
  outline: 1px solid tomato;
  padding: 60px 40px;
}
main .profile-two-wrapper .profile-two-container {
  width: 85%;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .profile-two-wrapper .profile-two-container .user-group {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .profile-two-wrapper .profile-two-container .user-group .btn-user {
  width: 90px;
  margin: 16px 0px;
  padding: 10px 11px;
  color: white;
  border: 1px solid rgb(26, 216, 211);
  border-radius: 5px;
  background-color: rgb(26, 216, 211);
}
main .profile-two-wrapper .profile-two-container .user-input {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .profile-two-wrapper .profile-two-container .user-input .user-avavtar {
  width: 150px;
  height: 150px;
  padding-bottom: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-avavtar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-top: -10px;
  font-size: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group label {
  font-weight: 600;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group input {
  width: 320px;
  border-radius: 5px;
  height: 33px;
  padding-left: 5px;
  margin-left: 32px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group input::-webkit-input-placeholder {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group input::-moz-placeholder {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group input:-ms-input-placeholder {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group input::-ms-input-placeholder {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .input-group input::placeholder {
  color: rgb(128, 128, 128);
  font-size: 16px;
}
main .profile-two-wrapper .profile-two-container .user-input .user-form .btn-device {
  width: 90px;
  margin-top: 10px;
  padding: 10px 11px;
  color: white;
  border: 1px solid rgb(26, 216, 211);
  border-radius: 5px;
  background-color: rgb(26, 216, 211);
}/*# sourceMappingURL=all.css.map */