* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #3f3a3a;
    font-size: 16px;
    font-family: "Noto Sans TC", "華康黑體", "微軟正黑體", arial, sans-serif;
    overflow-x: hidden;
}

body {
    padding-top: 105px;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.8;
    height: 100px;

}

#logo {
    width: 134.3px;
    height: 65px;
    margin-left: 60px;
}

#logo:hover {
    transform: scale(1.5, 1.5);
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    color: powderblue;
}


header>nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-right: 60px;
}

header>nav>div {
    letter-spacing: 3px;
    line-height: 92px;
    padding-bottom: 9px;
}

.search-part {
    margin-top: 7px;
}

#Search {
    width: 18px;
    transition: all 0.6s;
}

#Search:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer;
}

section {
    background-image: url(https://frankyeah.github.io/Front-Enter/images/key-visual.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 580px;
    line-height: 10px;
    padding: 10px;
}

.main-title {
    letter-spacing: 5px;
    text-align: center;
    color: white;
    padding: 10px;
}

.title-one {
    font-size: 40px;
    font-weight: bold;
}

.title-two {
    font-size: 28px;
    letter-spacing: 10px;
}



#arrow-bottom {
    background-image: url(https://frankyeah.github.io/Front-Enter/images/next.svg);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 50px auto;
    position: absolute;
    top: 550px;
    left: 50%;
    transform: rotate(90deg);
    animation: UpDownChange 1s ease 0s infinite alternate;
}

#my-aside {
    z-index: 1;
    opacity: 0.8;
    position: fixed;
    right: 0;
    bottom: 20%;
    width: 78px;
    height: 69px;
    cursor: pointer;
    transition: bottom 4s;
}

#my-aside:hover {
    bottom: 20px;
}

#my-aside-img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 712px) {
    .learn-test {
        filter: brightness(100%)
    }
}

.learn-test {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(https://frankyeah.github.io/Front-Enter/images/second-img.jpg);
    background-color: rgba(128, 128, 128, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-attachment: fixed;
    transition: height 0.6s linear;
}

.learn-test:hover {
    height: 600px;
}

main>div.learn-test>p {
    font-size: 18px;
    color: white;
    line-height: 3px;
    letter-spacing: 3px;
}

#test-go {
    border: 1px solid rgb(26, 216, 211);
    border-radius: 5px;
    color: rgb(26, 216, 211);
    width: 128px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0px;
    padding: 7px 23px;
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.6s linear;
}

#test-go:hover {
    transform: scale(1.2, 1.2);
}

@media screen and (max-width: 712px) {
    .classroom-choose {
        filter: brightness(100%)
    }

    main>div>.service {
        width: 224px;
        height: 336px;
        margin-left: 5px;
        margin-right: 5px;
    }
}




.classroom-choose {
    background-image: url(https://frankyeah.github.io/Front-Enter/images/third-img.jpg);
    background-color: rgba(128, 128, 128, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    height: 500px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    transition: height 0.6s linear;
}

.classroom-choose:hover {
    height: 600px;
}

main>div.classroom-choose>p {
    font-size: 18px;
    color: white;
}

main>div.classroom-choose>p.classroom-word {
    font-size: 18px;
    width: 205px;
    text-align: center;
    color: rgb(26, 216, 211);
    border-radius: 5px;
    border: 1px solid rgb(26, 216, 211);
    letter-spacing: 0px;
    padding: 7px 23px;
    cursor: pointer;
    margin-top: 30px;
    transition: transform 0.6s linear;
}

main>div.classroom-choose>p.classroom-word:hover {
    transform: scale(1.2, 1.2);
}

/* third-pic */

main>div.third-pic {
    background-image: url(https://frankyeah.github.io/Front-Enter/images/15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin-bottom: 10px;
    transition: height 0.6s linear;
}

main>div.third-pic:hover {
    height: 720px;
}

.inside-pic {
    background-image: url(https://frankyeah.github.io/Front-Enter/images/FE_white.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    width: 336px;
    height: 445px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.pen {
    width: 41px;
    height: 42.5px;
    margin-top: 45px;
}

.inside-title {
    color: rgb(26, 216, 211);
    font-size: 24px;
}

.inside-line {
    border-top: 2px solid rgb(26, 216, 211);
    width: 15%;
    margin: auto;
}

.inside-p {
    line-height: 30px;
    margin-top: 35px;
}

.inside-button {
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(26, 216, 211);
    font-size: 18px;
    padding: 7px 30px;
    margin-top: 20px;
}

.forth-pic {
    background-image: url(https://frankyeah.github.io/Front-Enter/images/five-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.8);
    background-blend-mode: multiply;
    background-position-x: center;
    background-position-y: bottom;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: height 0.6s linear;
}

.forth-pic:hover {
    height: 800px;
}


.forth-insdie {
    height: 50%;
}



main>div.forth-pic>div.forth-insdie>p {
    color: white;
    line-height: 35px;
    text-align: left;
    word-break: keep-all;
    max-width: 482px;
    margin-left: 38px;
}

main>div.forth-pic>div.forth-insdie>.forth-title {
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3px;
}

.forth-description {
    padding-top: 10px;
}

.forth-line {
    border-top: 1px solid white;
    width: 10%;
    margin: 0 auto;
}

.top {
    padding: 70px;
}

.top-div {
    width: 41px;
    height: 56px;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.6s linear;
}

.top-div:hover {
    transform: scale(1.2, 1.2);
}

.top-icon {
    width: 100%;
    height: 100%;
}

/* Footer */

footer {
    background-color: #ececec;
    width: 100%;
    height: 100px;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


@media(max-width: 1022px) {
    footer {
        height: auto;
    }
}


footer>p {
    font-size: 13px;
    line-height: 60px;
    padding: 0 30px;
}



footer>div {
    text-align: center;
    line-height: 80px;
    padding: 0 30px;
}


.footer-icon {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}




.m-word::before {
    content: "M";
    word-spacing: 20px;
    color: rgb(26, 216, 211);
}

.e-word::before {
    content: "E";
    color: rgb(26, 216, 211);
}

/* RWD */

/* 螢幕尺寸 768 */
@media screen and (max-width: 768px) {

    /* third */
    .inside-pic {
        width: 224px;
        height: 336px;
    }

    .inside-title {
        font-size: 18px;
    }

    .inside-p {
        line-height: 25px;
        font-size: 16px;
        margin-top: 20px;
    }

    .inside-button {
        font-size: 16px;
        margin-top: 0px;
    }

    /* footer */

    footer {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    footer>p {
        height: 10px;
        width: 100%;
    }

    footer>div {
        text-align: right;
        line-height: 10px;
        width: 100%;
    }

    .footer-icon {
        margin-top: -10px;
    }
}

/* 螢幕尺寸576 */
@media screen and (max-width: 576px) {

    /* header */
    #logo {
        margin-left: 10px;
    }


    header>nav {
        margin-right: 10px;
        width: 60%;
    }



    /* third */
    main>div.third-pic {
        flex-direction: column;

    }

    /* forth */
    .forth-pic {
        background-image: url(https://frankyeah.github.io/Front-Enter/images/five-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgba(128, 128, 128, 0.8);
        background-blend-mode: multiply;
        background-position-x: center;
        background-position-y: bottom;
        width: 100%;
    }

    .forth-title {
        font-size: 22px;
    }

    main>div.forth-pic>div.forth-insdie>p {
        line-height: 35px;
        margin-left: 0px;
        padding: 0 21px;
        text-align: justify;
        word-break: normal;
    }
}


/* 螢幕尺寸390 */
@media screen and (max-width:390px) {

    /* main-title */
    .title-one {
        font-size: 32px;
    }

    .title-two {
        font-size: 22px;
    }


    /* forth */
    .forth-insdie {
        max-width: 300px;
    }

    main>div.forth-pic>div.forth-insdie>p {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 24px;
    }



    /* footer */
    footer {
        margin-right: 0px;
    }

    footer>p {
        font-size: 10.5px;
    }

    .footer-icon {
        height: 20px;
        width: 20px;
        margin-top: 0;
    }
}