// JS輪播圖
.slideshow-container {
  position: relative;
  max-width: 100vw;
  margin: auto;

  .mySlides {
    display: none;
    width: 100vw;
    height: 380px;
    position: relative;
    overflow: hidden;

    .slide-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .slide-title {
        background-color: rgba(128, 128, 128, 0.7);
        padding: 10px 15px;
        padding-left: 23px;
        border-radius: 5px;
        font-size: 24px;
        color: white;
        letter-spacing: 10px;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: right 5px bottom 331px;
    }
  }
}

main {
  // class-item
  .class-wrapper {
    padding: 35px 0;
    margin-bottom: 100px;
    box-shadow: 0 0 15px #c7c7c7cc;
    color: $second-gray;

    .item-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      li {
        color: #3f3a3a;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        &:focus {
          opacity: 0.7;
        }
      }
    }
  }

  // class-card
  .card-wrapper {
    padding: 0px 60px 70px 60px;

    .card-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .card {
        border: $primary-border;
        width: 315px;
        padding: 25px 15px;
        margin: 10px;

        .favorite-icon {
          color: $primary-blue;
          text-align: end;
          font-size: 18px;
          // width: 20px;
          // height: 20px;
          padding-right: 15px;
          cursor: pointer;
        }

        .class-item {
          display: block;
          width: 90%;
          margin: 0 auto;
          color: #3f3a3a;
          .save-part {
            text-align: end;

            .save-icon {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }

          .city-part {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            .location-box {
              width: 17.14px;
              height: 23.7px;
              margin-right: 5px;

              .loction-icon {
                width: 100%;
                height: 100%;
              }
            }

            .loction-title {
              color: #3f3a3a;

              &:hover {
                opacity: 0.7;
              }
            }
          }

          .card-img {
            width: 200px;
            height: 150px;
            border-radius: 5px;
            overflow: hidden;

            .class-img {
              width: 200px;
              height: 200px;
              overflow: hidden;
              transition: all 0.3s ease-out;

              &:hover {
                opacity: 0.7;
                transform: scale(1.2, 1.2);
              }
            }
          }

          .class-title {
            font-size: 26px;
            color: $primary-blue;
          }

          .class-decription {
            color: #3f3a3a;

            &:hover {
              opacity: 0.7;
            }
          }

          .read-more {
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            color: $primary-blue;

            .more-word {
              transition: all 0.3s ease-out;

              &:hover {
                margin-right: 16px;
              }
            }

            .more-box {
              width: 10px;
              height: 10px;

              .more-icon {
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }

      .search-error {
        font-size: 30px;
        letter-spacing: 2px;
      }
    }
  }
}

// 螢幕尺寸1022px
@include pc {
  .slideshow-container {
    .mySlides {
      img {
        // height: 187%;
        height: 219%;
        object-fit: contain;
      }
    }
  }
}

// 螢幕尺寸768px
@include pad {
  .slideshow-container {
    .mySlides {
      height: 285px;
    }
  }
}

// 螢幕尺寸576px
@include minipad {
  .slideshow-container {
    .mySlides {
      height: 245px;
      .slide-wrapper {
        .slide-title {
          letter-spacing: 7px;
          font-size: 20px;
        }
      }

      img {
        height: 237%;
      }
    }
  }
}

// 螢幕尺寸390px
@include mobile {
  .slideshow-container {
    .mySlides {
      height: 219px;
    }

    img {
      height: 251%;
    }
  }
}
