main {
  // contact-one
  .contact-one-wrapper {
    background-image: url("https://frankyeah.github.io/Front-Enter/images/contact-key.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    padding: 200px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-one-title {
      font-size: 24px;
      color: white;
      background-color: rgba(128, 128, 128, 0.7);
      padding: 6px 13px;
      border-radius: 5px;
      letter-spacing: 10px;
      text-align: center;
    }
  }

  .contact-two-wrapper {
    padding: 50px 0px;

    .contact-two-container {
      // outline: 1px solid tomato;
      width: 90%;
      margin: 0 auto;
      display: flex;
      // align-items: center;
      justify-content: center;

      @include maxPc {
        flex-wrap: wrap;
      }

      .left-info {
        width: 700px;
        color: $second-gray;

        @include plusPc {
          width: 500px;
        }

        .contact-title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 32px;
        }

        .contact-word {
          letter-spacing: 3px;
          margin-bottom: 40px;
        }

        form {
          display: flex;
          flex-direction: column;

          input {
            width: 80%;
            color: $second-gray;
            font-size: 16px;
            padding: 10px 10px;
            margin-bottom: 28px;
            border: $third-gray-border;
            border-radius: 6px;

            &:focus {
              outline: none;
            }
          }

          textarea {
            width: 80%;
            height: 200px;
            color: $second-gray;
            font-size: 16px;
            padding: 10px 10px;
            margin-bottom: 20px;
            border: $third-gray-border;
            border-radius: 6px;

            &:focus {
              outline: none;
            }
          }

          .email-btn {
            width: 100px;
            padding: 11px 8px;
            margin: 16px 0px;
            font-size: 18px;
            color: #fff;
            border: $primary-border;
            background-color: $primary-blue;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }

      .right-info {
        width: 700px;

        @include plusPc {
          width: 500px;
        }

        .address-top {
          height: 224px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 83px;
          margin-bottom: 25px;
          border-radius: 5px;
          background-color: rgba(230, 230, 230, 0.3);

          .address-location {
            width: 35px;
            height: 50px;

            img {
              width: 100%;
              height: 100%;

              &:hover {
                opacity: 0.8;
              }
            }
          }
        }

        .address-bottom {
          width: 100%;
          height: 224px;

          iframe {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
