main {
  // skill-one
  .skill-one-wrapper {
    background-image: url("	https://frankyeah.github.io/Front-Enter/images/skill-tree-key.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    padding: 200px 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .skill-one-title {
      font-size: 24px;
      color: white;
      background-color: rgba(128, 128, 128, 0.7);
      padding: 6px 13px;
      border-radius: 5px;
      letter-spacing: 10px;
      text-align: center;
    }
  }

  // skill-two
  .skill-two-wrapper {
    background-image: url("https://frankyeah.github.io/Front-Enter/images/second-img.jpg");
    background-color: rgba(128, 128, 128, 0.8);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    padding: 235px 0;

    .skill-container {
      width: 40%;
      margin: 0 auto;
      text-align: center;
      color: white;
      letter-spacing: 3px;

      .skill-two-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .skill-line {
        width: 20px;
        margin: 0 auto;
        border: 1px solid #fff;
      }

      .skill-two-description {
        margin-top: 20px;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
