// 功能CSS

// 登入頁面
.login-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(192, 192, 192, 0.3);
  z-index: 3;

  .login-container {
    width: 350px;
    height: 430px;
    padding-top: 20px;
    border: $second-gray-border;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);

    .login-box {
      width: 225px;
      height: 105px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    form {
      letter-spacing: 3px;
      .login-inputs {
        width: 73%;
        margin: 0 auto;
        height: 16%;
        display: flex;
        flex-direction: column;

        input {
          width: 100%;
          padding: 6px;
          font-size: 16px;
          line-height: 25px;
          border: 0.5px solid $second-gray;
          letter-spacing: 3px;
        }
      }

      .forget-password {
        width: 73%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 10px;
        color: $second-gray;
        text-align: end;
        cursor: pointer;
      }

      .login-btns {
        width: 73%;
        margin: 0 auto;

        .btn-group {
          display: flex;
          justify-content: space-between;

          .login-btn {
            margin: 18px 0px;
            padding: 7px 34px;
            font-size: 18px;
            color: #fff;
            border: none;
            border-radius: 5px;
            background-color: $primary-blue;
            letter-spacing: 3px;
            cursor: pointer;
          }
        }

        .gmail-btn {
          padding: 8.5px 30px;
          font-size: 18px;
          color: #fff;
          border: none;
          border-radius: 5px;
          background-color: #d93025;
          letter-spacing: 3px;
          cursor: pointer;
        }
      }
    }
  }
}

// 彈跳視窗
.alert-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;

  .alert-container {
    width: 300px;
    height: 180px;
    background-color: white;
    border-radius: 5px;

    .alert-title {
      font-size: 24px;
      text-align: center;
      color: $second-gray;
      letter-spacing: 3px;
    }

    .alert-word {
      text-align: center;
      color: $second-gray;
      margin-bottom: 22px;
    }

    .alert-btn {
      width: 30%;
      margin: 0 auto;
      padding: 5px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      background-color: $primary-blue;
    }
  }
}

/* loading 動畫 */
div.loading-drawing {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(26, 216, 211);
  transition: all 0.6s linear;
  opacity: 1;
}

div.loading-animation {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  transition: all 0.5s linear;
  opacity: 1;

  div.loading-img {
    background-image: url("../images/FE_logo-4.png");
    background-size: cover;
    width: 300px;
    height: 130px;
    transition: all 0.5s linear;
    animation: loadingUpDown 2.5s ease 0s infinite;
  }
}

/* animation section */
/* loading animation */
@keyframes loadingUpDown {
  0% {
    margin-bottom: 250px;
  }
  25% {
    margin-bottom: 150px;
  }
  50% {
    margin-bottom: 250px;
  }
  75% {
    margin-bottom: 150px;
  }
  100% {
    margin-bottom: 250px;
  }
}

/*  箭頭動畫  */
@keyframes UpDownChange {
  0% {
    top: 545px;
  }
  25% {
    top: 550px;
  }
  50% {
    top: 555px;
  }
  75% {
    top: 550px;
  }
  100% {
    top: 545px;
  }
}

@keyframes arrowChange {
  0% {
    margin-left: 165px;
  }
  25% {
    margin-left: 170px;
  }
  50% {
    margin-left: 175px;
  }
  75% {
    margin-left: 170px;
  }
  100% {
    margin-left: 165px;
  }
}

// 左右擺動
@keyframes RightLeftChange {
  0% {
    transform: translate(-10px);
  }
  5% {
    transform: translate(10px);
  }
  10% {
    transform: translate(-10px);
  }
  20% {
    transform: translate(10px);
  }
  25% {
    transform: translate(-10px);
  }
  30% {
    transform: translate(10px);
  }
  35% {
    transform: translate(-10px);
  }
  40% {
    transform: translate(10px);
  }
  45% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(10px);
  }
  55% {
    transform: translate(-10px);
  }
  60% {
    transform: translate(10px);
  }
}

/* my-aside 動畫 */
@keyframes asiderunning {
  0% {
    bottom: 90%;
  }
  100% {
    bottom: 20%;
  }
}

@keyframes headerGoUp {
  0% {
    top: 100px;
  }
  100% {
    top: 100px;
  }
}

// 360度旋轉
@keyframes rotatemove {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// 打字浮標動畫
@keyframes flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
